body {
  color: #939aa9;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
}

header ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 40px;
}

header li {
  display: block;
  width: 21%;
  border: 2px solid #2cccff;
  border-radius: 4px;
  padding: 10px 15px;
  overflow: hidden;
  text-align: center;
  font-size: 22px;
}

header li:not(:last-child) {
  margin-right: 3%;
}

header a {
  text-decoration: none;
  color: #939aa9;
}

header a:hover {
  color: #2cccff;
}

.form-wrapper {
  display: flex;
  flex-wrap: nowrap;
}



form {
  display: flex;
  flex-wrap: nowrap;
  width: 75%;
  margin-right: 0;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  color: #2cccff;
  margin: 20px 0 0;
}


h1 a {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  transition: ease-in-out 0.5s;
}

h1 a:hover {
  color: blue;

}

sup span {
  font-size: 25px;
}



p {
  margin: 0;
}

.container {
  width: 60%;
  margin: 60px auto;
  border: 3px solid #2cccff;
  border-radius: 4px;
  padding: 20px;
  overflow: hidden;
}

.search-input {
  border-radius: 20px;
  border: 2px solid #2cccff;
  width: 70%;
  padding: 10px 20px;
  margin-right: 8px;
  font-size: 22px;
  color: #939aa9;
}

.button-current {
  width: 22%;
  background: #2cccff;
  color: #ffffff;
  border: 2px solid #2cccff;
  padding: 22px 22px;
  border-radius: 4px;
  overflow: hidden;
  font-size: 25px;
  box-shadow: 5px 5px 5px #d4d9e6;
}

.button-current:hover {
  background: #ffffff;
  color: #2cccff;
  border: 2px solid #2cccff;
}

.button-search {
  width: 30%;
  background: #939aa9;
  color: #ffffff;
  margin-right: 8px;
  border: 2px solid #939aa9;
  padding: 22px 22px;
  border-radius: 4px;
  overflow: hidden;
  font-size: 25px;
  box-shadow: 5px 5px 5px #d4d9e6;
}

.button-search:hover {
  background: #ffffff;
  color: #939aa9;
  border: 2px solid #939aa9;
}

.current-weather {
  font-size: 30px;
  display: flex;
  margin: 50px 0;
}

.add-parameters {
  margin-top: 30px;
  margin-left: 50px;
}

.week-weather {
  justify-content: space-around;
}

.card {
  width: 18%;
  margin: 0 5px;
}

.card span {
  font-size: 25px;
  display: block;
  margin: 0 auto;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 18px;
  overflow: hidden;
  color: #939aa9;
}

.card-text {
  color: #939aa9;
  margin-bottom: 20px;
}

.btn-primary {
  background: #2cccff;
  padding: 5px 7px;
  border: none;
  box-shadow: 5px 5px 5px #d4d9e6;
}